.Coin-table--table {
  margin: 0 auto;
  border: 2px solid #e5e5e5;
  margin-top: 0px;
  width: 80%;
  color: black;
  text-align: right;
  font-weight: 100;
}

.Coin-table--table-header {
  background-color: #666;
  color: white;
}

.Coin-table--nav {
  text-align: left;
  margin-top: 20px;
  margin-left: 120px;
}

.Coin-table--nav span {
  margin-left: 10px;
  border-top: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  border-radius: 4px 4px 0px 0px;
  font-weight: 200;
  padding: 4px;
}

.Coin-table--nav:hover {
  cursor: pointer;
}

.Coin-table--table-top-label {
  text-transform: uppercase;
  bgcolor:
}

.Coin-table--table-left-label {
  font-weight: 200;
  border-right: 0px solid white;
  width: 175px;
  text-align: center;
}

.Coin-table--table td {
  padding: 5px;
  padding-right: 50px;
}
